<div class="panel panel-default message-wrapper code-panel" data-encmsg="<%= message %>" data-message_id="<%= number %>">
  <div class="panel-heading code-panel-heading" id="<%= number %>">
    <div class="row">
      <div class="col col-sm-4">
        <div class="code-author-label">
          <strong>
            <%= sender %>
          </strong>
        </div>
      </div>
      <div class="col col-sm-8">
        <div class="input-group">
          <input type="password" class="form-control input-box message-code">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default apply-message-code" type="button">Apply</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div><!-- /row -->
  </div>
  <div class="panel-body">
    <p class="message">
      <%= message %>
    </p>
  </div>
</div>
